<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java_Practice/src/interview_programs/RevesrseStringWithoutUsingPreDefineMethods.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="interview_programs.RevesrseStringWithoutUsingPreDefineMethods"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java_Practice"/>
</launchConfiguration>
